<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Character Page</h1>
    <%= form_for(Character.new) do |f| %>
      Name: <%= f.text_field :name %><br />
      Level: <%= f.number_field :level %><br />
      Class: <%= f.text_field :job %><br />
      Race: <%= f.text_field :race %><br />
      Description: <%= f.text_area :description %><br />
      Spells: <%= f.text_area :spells %><br />
      <%= f.submit "Create" %>
    <% end %>
  </body>
</html>
